ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#pop{
height:680px;
 width:470px;
 position:fixed;
 bottom:5%;
 right:40%;
 border:2px solid;
 padding:10px;
 background:#fff;
 border-radius:9px;
 display:none;
}
#close{
right:5;
top: 5;
float: right;
}    

.vertical-menu {
    width: 200px;
}

.vertical-menu button {
    background-color: #eee;
    border:0;
	color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu button:hover {
    background-color: #ccc;
}

.vertical-menu button.inactive {
    background-color: #eee;
    color: #808080;
}

.homeSubMenu {
    margin-left:20px;
}
.notHomeSubMenu {
    margin-left: 40px;
}
.furtherSubMenu {
    margin-left: 40px;
}

