ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.vertical-menu {
    width: 200px;
}

.vertical-menu button {
    background-color: #eee;
    border:0;
	color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu button:hover {
    background-color: #ccc;
}

.vertical-menu button.inactive {
    background-color: #eee;
    color: #808080;
}

.projSubMenu {
    margin-left:20px;
}
.newProjSubMenu {
    margin-left: 40px;
}
.furtherSubMenu {
    margin-left: 40px;
}
